<h1>List of Sites</h1>

<%= link_to("New Activation", "/activations/new", role: 'button', type: 'button', class: 'btn btn-primary') %><br/><br/>
<div>
  <table class="table table-striped">
    <tr>
      <th>Site Id</th>
      <th>Site Name</th>
      <th>Address</th>
    </tr>
    <% @activations.each do |activation| %>
      <tr>
        <td><%= link_to(activation.siteid, "/activations/"+activation.id)  %></td>
        <td><%= activation.name %></td>
        <td><%= activation.full_address %></td>
      </tr>
    <% end %>
  </table>
</div>
