<h1>Ensemble Prototype</h1>

<div>
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">Historical</a></li>
    <li><a data-toggle="tab" href="#menu2">Realtime</a></li>
  </ul>

  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <h3>Realtime Data</h3>
      <div id="historical_container" style="min-width: 310px; height: 500px; max-width: 100%; margin: 0 auto"></div>
    </div>
    <div id="menu2" class="tab-pane fade">
      <h3>Historical Data</h3>
      <div id="realtime_container" style="min-width: 310px; height: 500px; margin: 0 auto"></div>
    </div>
  </div>
</div>
